<div class="container">
  <form action="/registration" method="POST">

    <div class="field">
      <label class="label" for="firstName">First Name</label>
      <div class="control">
        <input class="input" name="firstName" type="text" placeholder="John">
      </div>
    </div>

    <div class="field">
      <label class="label" for="surname">Surname</label>
      <div class="control">
        <input class="input" name="surname" type="text" placeholder="Smith">
      </div>
    </div>

    <div class="field">
      <label class="label" for="userName">User Name (req)</label>
      <div class="control">
        <input class="input" name="userName" type="text" placeholder="JohnnyRocks01">
      </div>
    </div>

    <div class="field">
      <label class="label" for="email">E-Mail (req)</label>
      <div class="control">
        <input class="input" name="email" type="email" placeholder="john.smith@rocksmail.com">
      </div>
    </div>

    <div class="field">
      <label class="label" for="password">Password (req)</label>
      <div class="control">
        <input class="input" name="password" type="password">
      </div>
    </div>

    <div class="field">
      <label class="label" for="passwordConfirmation">Password Confirmation (req)</label>
      <div class="control">
        <input class="input" name="passwordConfirmation" type="password">
      </div>
    </div>

    <div class="field">
      <label class="label" for="profilePic">Profile Picture (url)</label>
      <div class="control">
        <input class="input" name="profilePic" type="text" placeholder="Text input">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <a href="/" class="button is-text">Cancel</a>
      </div>
    </div>

  </form>
</div>
