<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="noun_Fog mountain_1659670.png" alt="">
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class='navbar-item' href="/about" >About Us</a>
            <a class='navbar-item' href="/geoSites/index" >Geo Sites</a>
          </div>
          <div class="navbar-end">
            <a class='navbar-item' href="/" >Login/Sign Up</a>            
          </div>
      </div>
  </div>
</nav>
