<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create a New Site</p>
    </header>
    <section class="modal-card-body">

      <form action="/geoSites" method="POST">

        <div class="field">
          <label class="label" for="coverPic">Cover Image (url req)</label>
          <div class="control">
            <input class="input" name="coverPic" type="text">
          </div>
        </div>

        <div class="field">
          <label class="label" for="name">Name (req)</label>
          <div class="control">
            <input class="input" name="name" type="text" placeholder="Grand Canyon">
          </div>
        </div>

        <div class="field">
          <label class="label" for="country">Country (req)</label>
          <div class="control">
            <input class="input" name="country" type="text" placeholder="USA">
          </div>
        </div>

        <div class="field">
          <label class="label" for="age">Age (Number)</label>
          <div class="control">
            <input class="input" name="age" type="number" placeholder="6000000 (for 6 million)">
          </div>
        </div>

        <div class="field">
          <label class="label" for="description">Description</label>
          <div class="control">
            <textarea class="textarea" name="description" rows="8" cols="80" placeholder="Short description of the geological site"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label" for="rockTypes">Rock Types (comma seperated)</label>
          <div class="control">
            <input class="input" name="rockTypes" type="text" placeholder="sedimentary, sandstone, shale">
          </div>
        </div>

        <div class="field">
          <label class="label" for="region">Region</label>
          <div class="control">
            <input class="input" name="region" type="text" placeholder="Nevada">
          </div>
        </div>

        <div class="field">
          <label class="label" for="images">Additional Images (urls comma seperated)</label>
          <div class="control">
            <input class="input" name="images" type="text">
          </div>
        </div>

        <div class="field">
          <label class="label" for="mapLink">Google Earth Map Link</label>
          <div class="control">
            <input class="input" name="mapLink" type="text" placeholder="maps.google.com">
          </div>
        </div>

    </section>
    <footer class="modal-card-foot">
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <a href="/" class="button is-text">Cancel</a>
        </div>
      </div>

    </form>

    </footer>
  </div>
</div>
