<!DOCTYPE html>
<html lang="en" dir="ltr">

  <% include ./partials/_head %>

  <body>
    <% include ./partials/_header %>

      <%- body %>

    <% include ./partials/_footer %>
  </body>
</html>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ_QH7WUOknfpY-UmWGxq19xO7kqysh0o&callback=initMap"
  type="text/javascript"></script>
