<!DOCTYPE html>
<html lang="en" dir="ltr">

  <% include ./partials/_head %>

  <body>
    <% include ./partials/_header %>

    <% for(const type in messages){ %>
      <div id="noti-message" class="notification is-<%=type %> is-marginless">
        <button class="delete"></button>
        <%=messages[type] %>
      </div>
    <% } %>

    <%- body %>


    <% include ./partials/_footer %>
  </body>
</html>
