<section class="hero is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Nice Rocks!
      </h1>
      <h2 class="subtitle">
        Seen it? Rocked? Review it!
      </h2>
      <% if(!locals.isLoggedIn){ %>
        <a href="/registration/new"> Sign Up</a>
        <a href="/session/new"> Login</a>
      <% } %>
    </div>
  </div>
</section>
