<div class="container">
  <form action="/session" method="POST">

    <div class="field">
      <label class="label" for="userName">User Name</label>
      <div class="control">
        <input class="input" name="userName" type="text" placeholder="JohnnyRocks01">
      </div>
    </div>

    <div class="field">
      <label class="label" for="password">Password (req)</label>
      <div class="control">
        <input class="input" name="password" type="password">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <input type="hidden" name="prevPage" value="<%=prePage%>">
        <button class="button is-link">Login</button>
      </div>
      <div class="control">
        <a href="/" class="button is-text">Cancel</a>
      </div>
    </div>

  </form>
</div>
